@model Warehouse

@{
    ViewData["Title"] = "Информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Информация</h1>

<div>
    <h4>Склад</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Номер склада
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WarehouseId">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
