################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomDB/FileContentIndex/36a5389f-a2f4-468a-9645-2291afdb663e.vsidx
/.vs/CustomDB/FileContentIndex
