@model Agent

@{
    ViewData["Title"] = "Инфо";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Информация</h1>

<div>
    <h4>Агент</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Полное имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            ID Номер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AgentId">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
