@model Fee

@{
    ViewData["Title"] = "Добавление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавление пошлины</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WarehouseId" class="control-label">Номер склада</label>
                <select asp-for="WarehouseId" class ="form-control" asp-items="ViewBag.WarehouseId"></select>
                <span asp-validation-for="WarehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoodId" class="control-label">Название товара</label>
                <select asp-for="GoodId" class ="form-control" asp-items="ViewBag.GoodId"></select>
                <span asp-validation-for="GoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiptDate" class="control-label">Дата получения</label>
                <input asp-for="ReceiptDate" class="form-control" />
                <span asp-validation-for="ReceiptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Количество товаров</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentNumber" class="control-label">Номер документа</label>
                <input asp-for="DocumentNumber" class="form-control" />
                <span asp-validation-for="DocumentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentId" class="control-label">Номер агента</label>
                <select asp-for="AgentId" class ="form-control" asp-items="ViewBag.AgentId"></select>
                <span asp-validation-for="AgentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeeAmount" class="control-label">Стоимость пошлины</label>
                <input asp-for="FeeAmount" class="form-control" />
                <span asp-validation-for="FeeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label">Дата оплаты</label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExportDate" class="control-label">Дата отправки</label>
                <input asp-for="ExportDate" class="form-control" />
                <span asp-validation-for="ExportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const textInputs = document.querySelectorAll("input[data-validate='no-numbers']");

            textInputs.forEach(input => {
                input.addEventListener("input", function () {
                    // Проверка на числа
                    } else if (this.value.trim() === "") { // Проверка на пустоту
                        this.setCustomValidity("Поле не должно быть пустым.");
                    } else {
                        this.setCustomValidity("");
                    }
                });
            });
        });
    </script>
}
