@model Agent

@{
    ViewData["Title"] = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактирование агента</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AgentId" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Полное имя</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label">ID номер</label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const textInputs = document.querySelectorAll("input[data-validate='no-numbers']");

            textInputs.forEach(input => {
                input.addEventListener("input", function () {
                    // Проверка на числа
                    if (/\d/.test(this.value)) {
                        this.setCustomValidity("Числа не допускаются.");
                    } else if (this.value.trim() === "") { // Проверка на пустоту
                        this.setCustomValidity("Поле не должно быть пустым.");
                    } else {
                        this.setCustomValidity("");
                    }
                });
            });
        });
    </script>
}