﻿﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Таможня</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Таможня</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Agents" asp-action="Index">Агенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Warehouses" asp-action="Index">Склады</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Goods" asp-action="Index">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Fees" asp-action="Index">Пошлины</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="GoodTypes" asp-action="Index">Типы товаров</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="CustomInformation" asp-action="Index">Информация</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>


    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>