@model GoodType

@{
    ViewData["Title"] = "Инфо";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Информация</h1>

<div>
    <h4>Тип товара</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название типа
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Единицы измерения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Measurement)
        </dd>
        <dt class = "col-sm-2">
            Стоимость пошлины
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfFee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GoodTypeId">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
